In [1]:
import mysql.connector as sql
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

ModuleNotFoundError: No module named 'mysql'

In [ ]:
db_connection = sql.connect(host='127.0.0.1', database='country_club', user='root', password='Cjl34319', auth_plugin='mysql_native_password')

bookings = pd.read_sql('SELECT * FROM Bookings', con=db_connection)
bookings.head()

In [ ]:
facilities = pd.read_sql('SELECT * FROM Facilities', con=db_connection)
facilities.head()

In [ ]:
members = pd.read_sql('SELECT * FROM Members', con=db_connection)
members.head()